###> symfony/framework-bundle ###
.env.local
.env.*.local
.env.dist
.env

###> PhpStorm project profile ###
.idea/
###< PhpStorm project profile ###

###> vim ###
.backup
*.swp
*.bak
*.tmp
###< vim ###
*.tgz
*.log
.n8n_api_key
