# Серверы NTP
{% for server in ntp_servers | default(['0.pool.ntp.org', '1.pool.ntp.org', '2.pool.ntp.org', '3.pool.ntp.org']) %}
server {{ server }} iburst
{% endfor %}

# Дрифт-файл для сохранения информации о частоте системных часов
driftfile /var/lib/chrony/chrony.drift

# Разрешить системным часам изменяться плавно
makestep 1.0 3

# Включить логирование
logdir /var/log/chrony
log tracking measurements statistics

# Разрешить синхронизацию в локальной сети
allow 127.0.0.1

# Использовать временную зону системы
rtcsync