# Конфигурация chrony, управляемая Ansible

# Список серверов NTP
{% for server in ntp_servers %}
server {{ server }} iburst
{% endfor %}

# Смещение для локального времени
driftfile /var/lib/chrony/drift

# Меры безопасности и разрешенные подключения
{% for network in chrony_allow_networks %}
allow {{ network }}
{% endfor %}

# Включение локального сервера времени
local stratum 10

# Ведение журнала
logdir /var/log/chrony
log measurements statistics tracking

# Синхронизируйте RTC системы при запуске и перезагрузке
rtcsync

# Макросы
makestep 1.0 3
